* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
    
  }
  
   .login-title {
    padding-bottom: 20px;
    font-weight:bold;
    text-align: center;
    
  }

  .login-form {
    width: 500px;
    height: 400px;
    background-color: #EEEFF1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    padding: 20px;
   
  }
  
  .login-text {
    width: 100%;
    font-size: 14px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .submit-btn {
    width: 100%;
    font-size: 14px;
    color: rgb(255,255,255);
    text-align: center;
    border: none;
    background-color: grey;
    padding: 10px;
   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  
  }
  
  .login-form .links {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    text-align: center;
  }
  
  .login-form .links a {
    font-size: 12px;
    color: #9b9b9b;
  }
  .remember-email{
    text-align:left;
    font-size: 12px;
    color: black;
    margin: 5px;
    
  }

  #google-title{
    padding-bottom: 20px;
    text-align: center;
    font-size: 12px;
  }