.navbar {
    height: 100px;
    padding: 0px 30px;
  
  }
  #main .hero-header {
    text-align: center;
    background-color: whitesmoke;
    background-position: center center;
    height: 450px;
    line-height: 450px;
  }
  
  #main .info {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }
  
  #main h1 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 40px;
    color: black;
    font-size: 60px;
  }

.bottom {
    text-align: center;
    margin-top: 30px;
}

.start_footer{
  margin-top:30px;
}

.login-link,.login-link:hover, 
.signup-link,.signup-link:hover{
  color: inherit;
  text-decoration: none;
}